<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Contact</h1>
    <p>
      Do you think that we will give you our contacts? You are naive, ahaha.
    </p>
  </body>
</html>